<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kh.shop.IDao.dao.GoodsMapper" >

 <insert id="saveGoods" parameterType="com.kh.shop.model.Goods" useGeneratedKeys="true" keyProperty="goodId">
    insert into tb_goods (good_type,supplier_id,sku_no,supplier_name,good_name,good_other_name,good_desc,good_creattime,good_status,remark)
    values (#{goodType,jdbcType=INTEGER},#{supplierId,jdbcType=INTEGER},#{skuNo,jdbcType=VARCHAR},#{supplierName,jdbcType=VARCHAR}
    ,#{goodName,jdbcType=VARCHAR},#{goodOtherName,jdbcType=VARCHAR},#{goodDesc,jdbcType=VARCHAR}
    ,#{goodCreatTime,jdbcType=TIMESTAMP},#{goodStatus,jdbcType=INTEGER},#{remark,jdbcType=VARCHAR})
  </insert>
  
  <update id="updateGoods" parameterType="com.kh.shop.model.Goods">
        update tb_goods
        <set >
            <if test="goodType != null" >
                good_type = #{goodType,jdbcType=INTEGER},
            </if>
             <if test="supplierId != null" >
                supplier_id = #{supplierId,jdbcType=BIGINT},
            </if>
             <if test="skuNo != null" >
                sku_no = #{skuNo,jdbcType=VARCHAR},
            </if>
             <if test="supplierName != null" >
                supplier_name = #{supplierName,jdbcType=VARCHAR},
            </if>
             <if test="goodName != null" >
                good_name = #{goodName,jdbcType=VARCHAR},
            </if>
             <if test="goodOtherName != null" >
                good_other_name = #{goodOtherName,jdbcType=VARCHAR},
            </if>
             <if test="goodDesc != null" >
                good_desc = #{goodDesc,jdbcType=VARCHAR},
            </if>
             <if test="goodStatus != null" >
                good_status = #{goodStatus,jdbcType=INTEGER},
            </if>
             <if test="updateTime != null" >
                update_time = #{updateTime,jdbcType=TIMESTAMP}
            </if>
        </set>
        where good_id = #{goodId,jdbcType=BIGINT}
    </update>
  
  
   <select id="getGoods" parameterType="com.kh.shop.model.Goods" resultType="com.kh.shop.model.Goods">
        select tt.type_name as goodTypeName,ts.supplier_name as supplierName,tg.good_name as goodName, tg.sku_no as skuNo,tg.good_desc  as goodDesc,
			tg.good_id as goodId
			from 
			tb_goods tg
			LEFT JOIN tb_goods_type tt
			on tg.good_type = tt.type_id
			LEFT JOIN tb_supplier ts
			on tg.supplier_id = ts.supplier_id
        where tg.good_status = 0
        <if test="pageSize != null and limit != null">
            limit #{pageSize, jdbcType=INTEGER}
            offset #{limit, jdbcType=INTEGER}
        </if>
        <if test="pageSize == null or limit == null">
            limit 10
            offset 0
        </if>
   </select>
   
    <!--根据ID删除-->
    <delete id="deletGoods" parameterType="com.kh.shop.model.Goods">
        delete from tb_goods
        where good_id = #{goodId,jdbcType=BIGINT}
    </delete>
    
     <select id="getGoodTotal" parameterType="com.kh.shop.model.Goods" resultType="java.lang.Integer">
		select count(1) from tb_goods
   </select>

</mapper>